<div class="gestor-container d-flex flex-column align-items-center bg-light">
  <!-- Título y descripción -->
  <div *ngIf="!hasActiveChildRoute">
    <h3 class="control-section-title fw-bold text-dark">
      Funcionalidades de Gestión Estadal
    </h3>
    <p class="control-section-description text-muted">
      Selecciona una opción para administrar recursos a nivel de estado.
    </p>
  </div>

  <!-- Tarjetas de navegación solo si no hay ruta hija activa -->
  <div *ngIf="!hasActiveChildRoute" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 control-specific-cards-row">
    <div *ngFor="let card of specificCards" class="col">
      <div class="card control-card h-100 d-flex flex-column align-items-center text-center position-relative"
        (click)="navigateToCard(card)" [ngClass]="{
          'border-bottom border-4': true,
          'border-primary': card.route === 'usuarios',
          'border-success': card.route === 'empleados',
          'border-warning': card.route === 'bd'
        }" [style.cursor]="'pointer'">
        <div class="card-body card-content d-flex flex-column align-items-center justify-content-center w-100">
          <i class="bi control-icon bi-{{ card.icon }}" [ngClass]="{
              'text-primary': card.route === 'usuarios',
              'text-success': card.route === 'empleados',
              'text-warning': card.route === 'bd'
            }"></i>
          <h4 class="card-title control-card-title fw-bold">{{ card.title }}</h4>
          <p class="card-text control-card-description text-muted">{{ card.description }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Contenedor para el componente hijo -->
  <div class="gestor-child-container w-100 mt-4">
    <router-outlet></router-outlet>
  </div>
</div>
